<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GET_page</title>
</head>
<body>
    <h3>This is the "GET" function, input firstname, lastname and the method (for now please choose TF) to get the recommendations</h3>
    <form action="">
        First name:<br><input type="text" name="firstname" value="Denise"><br>
        Last name:<br><input type="text" name="lastname" value="Hills"><br>
        Method<br>
        <select name = "method">
            <option value="ss">Session</option>
            <option value="kw">Keywords</option>
            <option value="ml">MailingList</option>
            <option value="tf">TF</option>
            <option value="idf">IDF</option>
        </select>
        <input type="button" value="Submit" onclick="window.location='%' + 'lastname=' + this.form.lastname.value +
            '%' + 'firstname=' + this.form.firstname.value + '%method=' + this.form.method.value" />
    </form>
</body>
</html>