<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>This is the "POST" function, input his/her infomation to add that person to database</h3>

    <form action="">
        First name:<br><input type="text" name="firstname" value="Denise"><br>
        Last name:<br><input type="text" name="lastname" value="Hills"><br>
        Email Address:<br><input type="text" name="email" value="dhills@gmail.com"><br>
        Event_ID:<br><input type="text" name="event_id" value="1"><br>
        Check in/out<br>
        <select name = "check_in">
            <option value="1">check in</option>
            <option value="0">check out</option>
        </select><br>
        Public/Private<br>
        <select name = "public_tag">
            <option value="1">Public</option>
            <option value="0">Private</option>
        </select>
        <input type="button" value="Submit" onclick="window.location='%' + 'lastname=' + this.form.lastname.value +
            '%' + 'firstname=' + this.form.firstname.value + '%' + 'email=' + this.form.email.value +
            '%' + 'check_in=' + this.form.check_in.value + '%' + 'public_tag=' + this.form.public_tag.value +
            '%' + 'event_id=' + this.form.event_id.value" />
    </form>
</body>
</html>